@import './shared.scss';

.App {
  min-height: 100vh;
  height: 100vh;
  top: 0px;
  display: block;
  text-align: center;
  background-color: $dark-blue;
  padding: 100px 30px;
  box-sizing: border-box;
}